<% provide(:title, @video.title)%>
<div class="mainmain">
<div class="pshow-main">
	<div class="up-ad">

	</div>
	
</div>
<div class="main2-show">
	<div class="sidead">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-3387068696014466";
		/* show-cruisinbro */
		google_ad_slot = "9981668974";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>

	<div class="s-main">
	<div class="h2-title">
		<h2 class="h2-show"><%= @video.title %></h2>
	</div>
	<div class="show-pic">
		<%=  @video.vimeo_html %>
		<%=  @video.youtube_html %>
	</div>
	<div class="show-user">
		<h4> Profile: <%= @video.user.name.capitalize %> | link: <a href= "http://<%= @video.link %> " target = "_blank"><%= @video.link %></a></h4>
	</div>
	<div class="show-text">
		<h4>Tags: <%= raw @video.tag_list.map {|t| link_to t, tag_video_path(t)}.join(', ') %></h4>
		
	</div>

	
	<% if can? :destroy, @video %>
  			<%= link_to "Edit", edit_video_path(@video) %>   
		<% end %>
		<% if can? :destroy, @video %>
    		<%= link_to "Destroy", @video, :method => :delete, :confirm => "Are you sure you want to delete?" %> 
    		<span><strong>Only you can see this</strong></span>
  		<% end %>
	</div>
	

</div>
</div>