
<div class="posts-h2">
	<h2>Explore Cars Bikes Trucks </h2>
</div>
<% if user_signed_in? %>
<div class="add-post">
<%= form_for @post, :multipart => true, :class => 'form-horizontal'  do |p| %>
<%= p.label :title, :class => "post-label" %>
<%= p.text_field :title %>
<%= p.file_field :picture, :class => "post-upload" %>
<div class="post-upload">
<%= p.label "link(opcenal)"%>
<%= p.text_field :link  %>
</div>
<%= p.label :tag_list, "Tags (separated by commas)", :class => "post-tag" %>
<%= p.text_field :tag_list, :class => "post-tag"  %>
<%= p.label :desrition, :style => "display: inline;" %>
<%= p.text_area :text, :rows => 2, :style => "width: 400px"  %>
<%= p.submit "add post", class: "btn btn-large btn-inverse post-upload" %>
<% end %>
</div>
<% else %>
<p class="make_account">Must make a account to make a post </p>
<% end %>
<div>
	<div class="mainpost-box">
		<div class="mainside-box">
			<h1><%= link_to "Explore videos", videos_url %></h1>
			<div class="explore-ad">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-3387068696014466";
			/* cruisinbro_expoler */
			google_ad_slot = "3645863951";
			google_ad_width = 336;
			google_ad_height = 280;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
			</div>
			<h2><%= link_to "back to most recent posts", posts_url %></h2>
			<div id="tag_cloud">
				<h3>search by Tags</h3>
				<% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
				<%= link_to tag.name, tag_path(tag.name), class: css_class %>
				<% end %>
 
			</div>
			<!-- Classic, created 11/29/12 -->
			<div id="wahohaHuDsFT"></div>
			<script type="text/javascript">(function(){function a(){var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="http://wahoha.com/widget/HuDsFT";var x=document.getElementsByTagName("script")[0];x.parentNode.insertBefore(s,x);}a();})();</script>
			<!-- end -->
			<div class=" knowd ">
			<script src="http://knowd.com/w/864.js?swid=520"></script>
			</div>
		</div>
	<% @posts.each do |post| %>
<table class=<%=cycle("post-table", "post-table2", "post-table3" )%>>
	<CAPTION><h3><%= post.title %></h3></CAPTION>
<tr>
<td><%= link_to image_tag(post.picture.url(:large)), post %></td>
</tr>
<tr>
<td class="tb-text"><%= post.text %></td>
</tr>
<th class= "tb-link"> <b>Link</b> <a href= "http://<%= post.link %> " target = "_blank"><%= post.link %></a></th>

</div>


</table>
<% end %>
<%= paginate @posts %>
<div class="line-ad">
	
	</div>
	<div class="bottom-ad">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-3387068696014466";
		/* curisn bro bottom */
		google_ad_slot = "2013051388";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>



<%= render "layouts/footer"%>