<% provide(:title, @post.title)%>
<div class="mainmain">
<!----<div class="pshow-main">
	
</div>-->

<div class="main2-show">
	<div class="sidebar-show" style="margin-top: 108px;">
		<h3 class="titleforpics">Crazy and strange pics</h3>
		<div class="posts-pics">
			<script src="http://knowd.com/w/1926.js?swid=520"></script>
			<!-- Classic, created 07/28/13 -->
  <div id="wahohad383jG"></div>
  <script type="text/javascript" src="http://wahoha.com/widget/d383jG"></script>
  <!-- end -->
			<div style="width: 320px; "><%# @posts.map do |upload| %>
			<table class="browse-show">
				<tr>
				<td ><%# link_to image_tag(upload.picture.url(:thumb), :alt => upload.title, :title => upload.title), upload,{:class => "img_user"}  %></td>
				</tr>
				<tr class="showpageuploadrow">
				<td class="for-font"><%# link_to truncate( upload.title, :length => 25), upload %></td>
			</tr>
			</table>
			<%# end %> </div>

			<h2><%= link_to "back to most recent posts", posts_url %></h2>
			<br><br>
			<div id="tag_cloud" style="width: 299px;">
				<h3>search by Tags</h3>
				<% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
				<%= link_to tag.name, tag_path(tag.name), class: css_class %>
				<% end %>
 
			</div>
		</div>
		<% if @post.id.even? %>
	
	<% end %>
	</div>
	<div class="s-main">
		<div class="sidead2">

	</div>

	<div class="h2-title">
		<h2 class="h2-show"><%= @post.link.present? ? @post.link : @post.title %></h2>
	</div>
	<div style="width: 728px; background-color: black;">
		<!--<h2><script language="JavaScript">document.write(geoip_city())</script> <script language="JavaScript">document.write(geoip_region_name());</script></h2>
		<div class="playtowin" ><%# link_to image_tag("pikcamgame.jpg", :alt => "humorous pictures and lol photos"), "http://www.pikcam.com/play-and-win", :title => "humorous pictures and lol photos", :target =>"_blank" %>  </div>-->
	</div>
	<div class="show-pic">
		<div class="next-buttom">
			<ul style="margin-top: 0px;">
				<li class="next-box"><%= link_to("Previous Pic", @post.next_upload, :class => "")  if @post.next_upload %></li>
				<li class="next-box"><%= link_to("Next Pic", @post.previous_upload,:class => "") if @post.previous_upload %></li>

			</ul>
		</div>		
		<%= image_tag(@post.picture.url(:large), :title => @post.title, :alt => @post.title, :style => "width: 450px;") %> 
	</div>
	
	<div class="show-user">
		<h4> Profile: <%= @post.user.name.capitalize %> | link: <a href= "http://<%= @post.link %> " target = "_blank"><%= @post.link %></a></h4>
	</div>
	<div class="show-text">
		<h4>Tags: <%= raw @post.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></h4>
		<div class="moneymaker" style=" margin-top: 25px; margin-bottom: 20px;">

		<div>
		<!-- curisn bro bottom -->
</div>
	</div>
	</div>
		<span class='st_facebook_vcount' displayText='Facebook'></span>
		<span class='st_stumbleupon_vcount' displayText='StumbleUpon'></span>
		<span class='st_tumblr_vcount' displayText='Tumblr'></span>
		<span class='st_reddit_vcount' displayText='Reddit'></span>
		<span class='st_fark_vcount' displayText='Fark'></span>
		<span class='st_digg_vcount' displayText='Digg'></span>
		<span class='st_twitter_vcount' displayText='Tweet'></span>
		<span class='st_pinterest_vcount' displayText='Pinterest'></span>
	<div class="post-text">
		<h2> Description: </h2>
		<h4><%= @post.text %></h4>
	</div>
	<% if can? :destroy, @post %>
  			<%= link_to "Edit", edit_post_path(@post) %>   
		<% end %>
		<% if can? :destroy, @post %>
    		<%= link_to "Destroy", @post, :method => :delete, :confirm => "Are you sure you want to delete?" %> 
    		<span><strong>Only you can see this</strong></span>
  		<% end %>
	</div>
	<div style="margin-right: 296px;">
		<div style="margin-left: 25px;">
		<!-- Classic, created 07/28/13 -->


		</div>
		<!-- Classic, created 06/23/13 -->
<div id="wahohabC3oSs"></div>
<script type="text/javascript" src="http://wahoha.com/widget/bC3oSs"></script>
<!-- end -->
	<!--<script src="http://knowd.com/w/864.js?swid=520"></script>-->

<iframe allowtransparency="1" frameborder="0" height="156" id="plwpr2261152d0ce92ecca91.06404191" scrolling="no" src="http://widget.plugrush.com/cruisinbro.com/51as" width="834"></iframe>

	<script type="text/javascript" src="http://2leep.com/ticker2/11027258/custom/4/1/160/bottom/transparent|0|Arial|1.4em|0.04em|12px|700px|4305|0|1px|%23c0c0c0|center|middle|square|0||black"></script>

<script language="javascript" type="text/javascript">
	(function() {
		var zergnet = document.createElement('script'); 
		zergnet.type = 'text/javascript'; zergnet.async = true;
		zergnet.src = 'http://www.zergnet.com/zerg.js?id=14937';
		var znscr = document.getElementsByTagName('script')[0]; 
		znscr.parentNode.insertBefore(zergnet, znscr);
	})();
</script>
<div style="margin: 5px auto; width: 464px" >
<div class="fb-comments" style="margin: 5px auto" data-href=<%= post_url(@post) %> data-width="470" data-num-posts="10"></div>
</div>
</div>
</div>

</div>