<footer>
  <hr>

<ul id="nav2">
  <li>2012 Curisin Bro LLC All rights reserved </li>
  <li><%= link_to "Home", "/"  %></li>
  <li><%= link_to "About us", "/about" %> </li>
  <li><%= link_to "Terms", "/terms" %></li>
  <li><%= link_to "Help", "/help" %></li>
  <li><%= link_to "Privacy", "/privacy" %></li>
</ul>
<div class="our-link">
          <h4> More of us  </h4>
          <ul class= "frinds-list">
            <li><a href="http://www.donloren.com/" target="_blank" >Donloren</a> | </li>
            <li><a href="http://www.http://donloren.tumblr.com/" target="_blank">blog with me!! </a> | </li>
            <li><a href="http://www.pikcam.com/" target="_blank">Pikcam Cool Pics</a> | </li>
            <li><a href="https://www.facebook.com/devante.rawlings.1?fref=ts" target="_blank"> Video From Devante </a> | </li>
          </ul>
          <a href="/link-up">add your site to our friends list</a>
</footer>