<!DOCTYPE html>
<html>
<head>
  <meta name="description" content=" Cruisin bro find cool pics of cars, car news, car events and show off your sick whip.A place to meet new people in the car community ">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--{if it IE 9}>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <!{endif}-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35439465-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  
  <header>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=357983834258531";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
	<%= link_to image_tag("limages/bro.png"), "/", {:id=> "bro" } %>
  
    
  

	<div style= 'margin-left: 20%; background-color: #000;'>
		<ul id= "nav">
      <li><%= link_to "Explore", posts_url %></li>
      <li><%= link_to"Garage", "#" %></li>
      <li><%= link_to "Events", "#" %></li>
      <li><%= link_to "Forums", "#" %></li>
      <% if user_signed_in? %>
      <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
      <ul class= "dropdown-menu" role="menu" aria-labelledby="dlabel">
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Upload Pic", "#" %></li>
        <li><%= link_to "settings", edit_user_path(current_user) %></li>
        <li><%= link_to "Help Page", help_path %></li>
      </ul>
      <%= link_to "sign out", destroy_user_session_url,:method => :delete, :class =>"btn btn-large btn-danger", id: "button" %>
      <% else %>
      <%= link_to "sign up", new_user_registration_url, :class =>"btn btn-large btn-danger", id: "button" %>
      <%= link_to "Login", new_user_session_url, { :class => "login "} %>
    	
      <% end %>
	    </ul>

    </div> 
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"> <%= value %></div>
    <% end %>

</header>
<%= yield %>


<%# debug(params) if Rails.env.development? %>
</body>
</html>
